aniso8601==4.0.1
attrs==20.3.0
blinker==1.4
chardet==4.0.0
Click==7.0
clickclick==1.2.2
connexion==2.2.0
crate-common==1.4.29
cx-Oracle==7.1.0
httplib2==0.19.0
inflection==0.3.1
iniconfig==1.1.1
itsdangerous==1.1.0
jsonschema==2.6.0
kim==1.1.0
MarkupSafe==1.1.0
marshmallow==2.17.0
openapi-spec-validator==0.2.9
packaging==20.9
pluggy==0.13.1
prance==0.20.2
pyparsing==2.4.7
pytest==6.2.2
pytest-html==3.2.0
pytest-xdist==3.3.1
python-dateutil==2.7.5
python-json-logger==0.1.10
pytz==2018.7
PyYAML==5.4.1
related==0.7.2
restclient==0.11.0
rollbar==0.14.7
semver==2.13.0
six==1.15.0
swagger-ui-bundle==0.0.3
toml==0.10.2

pandas~=2.2.2